<!--Parallax components-->

<parallax-layout-1 *ngIf="params.parallaxLayout1" [data]="params.data | async" [events]="params.events">
</parallax-layout-1>

<parallax-layout-2 *ngIf="params.parallaxLayout2" [data]="params.data | async" [events]="params.events">
</parallax-layout-2>

<parallax-layout-3 *ngIf="params.parallaxLayout3" [data]="params.data | async" [events]="params.events">
</parallax-layout-3>

<parallax-layout-4 *ngIf="params.parallaxLayout4" [data]="params.data | async" [events]="params.events">
</parallax-layout-4>