<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title text-left>{{params.title}}</ion-title>
    </ion-navbar>
</ion-header>

<!--Google card components-->
<sticky-list-header-layout-1 *ngIf="params.stickyListHeaderLayout1" [data]="params.data | async" [events]="params.events">
</sticky-list-header-layout-1>

<sticky-list-header-layout-2 *ngIf="params.stickyListHeaderLayout2" [data]="params.data | async" [events]="params.events">
</sticky-list-header-layout-2>

<sticky-list-header-layout-3 *ngIf="params.stickyListHeaderLayout3" [data]="params.data | async" [events]="params.events">
</sticky-list-header-layout-3>